.request-button {
  display: flex;
  width: 200px;
  height: 45px;
  color: #00c1a6;
  border: 1px solid #00c1a6;
  background-color: #fff;
  border-radius: 21px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px;

  //   On hover, button borders should increase to 2px width
  &:hover {
    border: 2px solid #00c1a6;
  }
  //   On click, the border should increase to 3px.
  &.clicked {
    border: 3px solid #00c1a6;
    cursor: unset;
  }
}
